ion-tab-bar{
    --background: #336180;
    --ion-color-primary: rgb(255, 255, 255);
   
    --color: #fdfdfd;
}
ion-tab-button:active{
    --background: #57dfe9;
   
    --ion-color-primary: rgb(255, 255, 255);
   
    --color: #fdfdfd;
}
