


<ion-tabs>
  
  <ion-tab-bar slot="bottom" >
   
    <ion-tab-button tab="visitas" >
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label  >  Visitas </ion-label>
</ion-tab-button>


  
  <ion-tab-button tab="examenes">
    <ion-icon name="id-card-outline"></ion-icon>
    <ion-label >  Examenes </ion-label>
    </ion-tab-button>
    
    <ion-tab-button  tab="recetas" >
      <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Recetas</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>