<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
   
    <ion-title  class="center-text"> Visitas </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card *ngFor=" let visita of visitas">
  
 <ion-card  >
    
   <ion-label>Fecha: {{ visita.fecha }} </ion-label>    
       
  </ion-card>
  <ion-card>
   <ion-label>Hora: {{ visita.hora}} </ion-label>
  </ion-card>
  <ion-card>
    <ion-label>Diagnostico: {{ visita.diagnosticoEnfermedad}} </ion-label>         
   </ion-card>
   
  </ion-card>
</ion-content>
