.center-text {
    text-align: center;
 }
 .nuevo {
    --ion-color-primary: rgb(246, 244, 248);
}

.nuevo2 {
    --ion-color-primary: rgb(255, 255, 255);
}
ion-content {
    --background: #6bc4bf;
    
   
  }
  ion-toolbar {
    --background: #6bc4bf;
   --color: #0a0a0a;
  }
  ion-item {
    --background: #ffffff;
   --color: #0a0a0a;
   font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  h1 {
    color: #0e0e0e;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }